<h1>Names of all the people</h1>

<% @people.each do |person| %>
  Name: <%= person.name %><br>
<% end %>

<% image_url("edit.png") %>
<% image_path("edit.png")  %>     # => /assets/edit.png
<% image_tag("rails.png") %>

